* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
body {
    background-color: #dce5df;
}
.header, .footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    height: 60px;
}
.header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.main {
    height: 535px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.playGround {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 258px;
    width: 570px;
}
.playerGround, .card, .infoGround {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card h4 {
    font-size: 20px;
    margin: 10px 0;
}
.card img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #f5b24d;
}
.resultBoard {
    background-color: #89c89f;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
}
.infoGround {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vs {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 170px;
}
.infoGround h4 {
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.infoGround .results {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 17px;
    padding: 8px 15px;
    background-color: rgba(253, 232, 236, 0.498);
    border: 5px solid rgb(252, 203, 211) ;
    border-radius: 10px;
}
.chooseTable {
    border-radius: 10px;
    background-color: #bdcbc27b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 570px;
    gap: 15px;
    padding: 10px;
}
.chooseTable button {
    padding: 8px;
    border-radius: 10px;
    background-color: #98ccde;
    border: none;
    font-size: 20px;
}

